<button class="btn btn-primary" (click)="abrirModalAgregar()">Agregar Usuario</button>
<!-- <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUserModal">Agregar Usuario</button> -->

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.name }}</td>
            <td>{{ usuario.rol }}</td>
            <td>
                <button class="btn btn-warning btn-sm" (click)="updateUsuario(usuario)">Editar</button>
                <button class="btn btn-danger btn-sm" (click)="deleteUsuario(usuario)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Componente de edición de usuario -->
<app-edit-usuarios 
  #editUsuario
  [usuario]="usuarioSeleccionado"
  (usuarioActualizado)="onUsuarioActualizado($event)">
</app-edit-usuarios>

<!-- Componente de agregar usuario -->
<app-add-usuarios (usuarioAgregado)="addUsuario($event)"></app-add-usuarios>

<app-delete-usuarios
  #eliminarUsuario
  [usuario]="usuarioSeleccionado"
  (usuarioEliminado)="onUsuarioEliminado($event)">
</app-delete-usuarios>
