<div class="container mt-4">
  <h2>Bienvenido, {{ usuarioNombre }} 👋</h2>

  <!-- Estadísticas generales -->
  <div class="row mt-4 text-center">
    <div class="col-md-3">
      <div class="card p-3 shadow">
        <h4>{{ numPartidos }}</h4>
        <p>Partidos jugados</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-3 shadow">
        <h4>{{ allGoles }}</h4>
        <p>Goles totales</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-3 shadow">
        <h4>{{ numJugadores }}</h4>
        <p>Jugadores</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-3 shadow">
        <h4>{{ numEquipos }}</h4>
        <p>Equipos</p>
      </div>
    </div>
  </div>

  <!-- Próximos partidos -->
  <div class="mt-5">
    <h3>Últimos Partidos</h3>
    <div class="d-flex justify-content-end align-items-center gap-2 mb-3">
      <button class="btn btn-link p-0" [disabled]="partidoIndex === 0" (click)="prevPartidos()">
        <i class="bi bi-chevron-left fs-3"></i>
      </button>
      <button class="btn btn-link p-0" [disabled]="partidoIndex + itemsPerPage >= partidos.length"
        (click)="nextPartidos()">
        <i class="bi bi-chevron-right fs-3"></i>
      </button>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let partido of partidosPaginated">
        <app-card-partido [partido]="partido" [equipoLocal]="getEquipo(partido.equipo_local_id) !!"
          [equipoVisitante]="getEquipo(partido.equipo_visitante_id) !!" [routerLink]="['/partidos', partido.id]">
        </app-card-partido>
      </div>
    </div>
  </div>

  <!-- Mejores Jugadores -->
  <div class="mt-5">
    <h3>Top Jugadores</h3>
    <div class="d-flex justify-content-end align-items-center gap-2 mb-3">
      <button class="btn btn-link p-0" [disabled]="jugadorIndex === 0" (click)="prevJugadores()">
        <i class="bi bi-chevron-left fs-3"></i>
      </button>
      <button class="btn btn-link p-0" [disabled]="jugadorIndex + itemsPerPage >= jugadoresPuntuaciones.size"
        (click)="nextJugadores()">
        <i class="bi bi-chevron-right fs-3"></i>
      </button>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let jugador of jugadoresPaginated">
        <app-card-jugador [jugador]="jugador" [routerLink]="['/jugadores', jugador.id]"></app-card-jugador>
      </div>
    </div>
  </div>

  <!-- Noticias -->
  <div class="mt-5">
    <h3>Últimas Noticias</h3>
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let noticia of noticias">
        <app-card-noticia [noticia]="noticia" [routerLink]="['/noticias', noticia.id]"></app-card-noticia>
      </div>
    </div>
  </div>
</div>