<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                <img [src]="equipoLocal.escudo" alt="{{ equipoLocal.nombre }}" class="img-fluid"
                    style="max-height: 50px;">
                <p>{{ equipoLocal.nombre }}</p>
            </div>
            <div class="col-md-2 text-center">
                <p>{{ partido.goles_local }} - {{ partido.goles_visitante }}</p>
            </div>
            <div class="col-md-5">
                <img [src]="equipoVisitante.escudo" alt="{{ equipoVisitante.nombre }}" class="img-fluid"
                    style="max-height: 50px;">
                <p>{{ equipoVisitante.nombre }}</p>
            </div>
        </div>
    </div>
</div>