.modal {
    z-index: 1061 !important;
}

.modal-backdrop {
    z-index: 1060 !important;
}

/* En navbar.component.css */
.mobile-sidebar {
    z-index: 1040;
}

.navbar-toggler {
    z-index: 1041;
}

.navbar {
    z-index: 1030;
}